/* Background Photos by Manny Pantoja (@mann_pantoja) and 
Fré Sonneveld @fresonneveld on Unsplash */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #253658;
    color: #fff;
    font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center 55%;
    height: 400px;
    margin-top: -25px;
    padding-top: 15px;
    text-align: center;
    position: relative;

}

.intro {
    width: 75%;
    border: 3px solid white;
    margin: 30px auto 10px;
    background-color: rgba(0, 0, 0, .4);
    height: 200px;
    font-weight: bold;
    padding-top: 2%;

}

.intro h3 {
    font-family: 'Marck Script', cursive;
    letter-spacing: 2px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease;
    font-weight: normal;
    
}

header .btn {
    position: absolute;
    height: 40px;
    color: #fefefe;
    background-color: #222;
    border: 3px solid white;
    top: 220px;
    left: 33%;
    line-height: 1.5;
    padding: 5px 10px;
    

}

header .btn:hover {
    background-color: #ffa601;
    color: #222;

}

.main {
    background-color: #fff;
    color: #333;
    padding: 20px;
}

.testimonial {
    background: url("../img/footer.jpg") no-repeat center bottom;
    background-size: cover;
    text-shadow: 2px 1px 1px #333;
    height: 200px;
    padding: 5% 0;
}

blockquote {
    width: 55%;
    margin: 0 auto;
}

blockquote cite {
    padding-left: 65px;
}

.banner {
    background-color: #ffa601;
    width: 100%;
    padding: 5px 0;
    height: 80px;
    position: relative;
}

.banner .btn {
    background-color: #e3e0cf;
    border: 1px solid #e0dbbf;
    padding: 10px;
    width: 150px;
    text-align: center;
    margin: 1% auto;
    display: block;
    color: #253658;

}

.banner .btn:hover {
    background-color: black;
    color: #ffa601;
    border: 1px solid #eca727;
}


footer {
    padding: 0px 20px;
    text-align: center;
}

footer ul {
    padding: 0;
}

.social-links {
    display: inline-flex;
    font-family: "font-awesome", serif;
    margin-right: 10px;
    font-size: 1.45rem;
}
.social-links:hover {
    color: #5779bb;
}

@media screen and (min-width: 768px) and (max-width: 991.98px) { 
    header {
    background-position: center 71%;
    height: 400px;
    }

    header .btn {
        left: 42%;
    }

}

@media screen and (min-width: 992px)  {
    header {
        background-position: center;
        background-size: cover;
        height: 700px;
        background-attachment: fixed;
        padding-top: 10%;;
    }

    .intro {
        width: 40%;
    }

    header .btn {
        left: 47%;
        top: 57%;
    }

    header::after{
        content: "WORK HARD \a TRAVEL HARDER" ;
        white-space: pre-wrap;
        position: absolute;
        color: transparent;
        background:  -webkit-linear-gradient(transparent, transparent), url("../img/bg.jpg") repeat;
        background-clip: text;
        -webkit-background-clip: text;
        background-position: 60% 89%;
        font-size: 4rem;
        bottom: 10%;
        left: 38%;
    }

    .main {
        height: 400px;
        padding: 50px;
        
        
    }

    .main h2, .main p, .main ul {
        width: 50%;
        margin: 25px auto;
    }

    .main h2 {
        font-size: 2rem;
        text-align: center;
    }

    .testimonial {
        padding: 3% 0;
        background-attachment: fixed;
        background-position: center;
        height: 250px;
    }

    blockquote {
    width: 40%;
    line-height: 1.5;
    font-size: 1.25rem;

    }

    .banner {
    background-color: #ffa601;
    height: 110px;
    }

    .banner .btn {
        padding: 20px 10px;
        width: 220px;

    }





}